@use "@/assets/sass/__common.scss" as *;

.movie-comming-son-title {
    @include width-layout-default;
    margin-top: 12px;
    position: relative;
    line-height: 28px;
    top: 2px;
}

.movie-comming-son-title {
    @include width-layout-default;
    margin-top: 12px;
}

.movie-comming-son-list {
    @include width-layout-default;
}

.movie-comming-son-item__img {
    aspect-ratio: 4/6;
}

.movie-comming-son-item__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-comming-son-name {
    line-height: 16px;
}